<% content_for(:title) { "Edit #{@exercise.name} | Haearn" } %>

<div class="container py-4">
  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Exercises", exercises_path %></li>
      <li class="breadcrumb-item active"><%= @exercise.name %></li>
    </ol>
  </nav>

  <h1 class="display-heading mb-4">Edit Exercise</h1>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag @exercise do %>
        <%= render "form", exercise: @exercise %>
      <% end %>
    </div>
  </div>
</div>
